@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Galada&family=Merienda+One&display=swap');
/*  font-family: 'Bree Serif', serif;
    font-family: 'Galada', cursive;
    font-family: 'Merienda One', cursive; */

*{
    padding: 0;
    margin: 0;
    font-family: 'Merienda One', cursive;
}

body{
    background-image: radial-gradient(#e6f9ff,#b3ecff, #80dfff);
    background-repeat: no-repeat;
    color: #333333;
    padding: 10px;
    position: relative;
}

.bodyDiv{
    padding: 10px;
}

h1{
    font-family: 'Galada', cursive;
    color: #400080;
    letter-spacing: 0.1em;
    margin: 20px 0px;
    text-decoration: double underline;
}

button{
    width: 85px;
    padding: 6px;
    color: yellow;
    background-color: #444422;
    font-size: 1em;
    border: #444422;
    border-radius: 10px;
    outline: none;
}

button:hover{
    cursor: pointer;
}

#tab td, #tab th{
    padding: 0px 20px;
}

.mobile{
    display: flex;
    justify-content: space-around;
}

.mobimg{
    width: 180px;
    height: 160px;
    border: 2px solid brown;
    border-radius: 20px;
}

#fall{
    width: 500px;
    height: 300px;
}

#count{
    width: 80px;
    padding: 20px 10px;
    font-size: 1.8em;
    text-align: center;
    background-color: #006080;
    border-radius: 20px;
    margin: 10px;
    color: white;
}

.head{
    text-align: justify;
    line-height: 10px;
}
.form{
    display: flex;
    justify-content: space-around;
}

form{
    border: 2px solid brown;
    padding: 10px;
}

label{
    display: inline-block;
    width: 150px;
    margin: 20px;
}

#first, #last, #mail, #dob{
    width: 160px;
}

#submit{
    text-align: right;
}

.form2{
    visibility: hidden;
    padding: 15px;
    width: 320px;
    height: 250px;
    background-color: #006080;
    justify-content: space-around;
    line-height: 60px;
    border: 5px double black;
}

.form2>p{
    font-size: 1em;
    color: yellowgreen;
}

.form2 span{
    margin-left: 10px;
    font-weight: normal;
    color: white;
}

#para{
    text-align: justify;
}

.getDataForm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#add{
    text-align: right;
}

#tableForm td, #tableForm th{
    border: 1px solid brown;
    text-align: center;
    padding: 5px;
    width: 85px;
}

#tableForm th:nth-child(2),#tableForm td:nth-child(2){
    width: 200px;
}

#tableForm td:nth-child(2) input{
    width: 190px;
    height: 30px;
}
#tableForm td:nth-child(3) input{
    width: 80px;
    height: 30px;
}

#pics{
    display: flex;
    justify-content: space-around;
}

#pics img{
    width: 220px;
    height: 150px;
}

#modal img{
    width: 700px;
    height: 450px;
}

.modal-open{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-close{
    display: none;
}

.btnClose{
    position: absolute;
    right: 70px;
    top: 40px;
    background-color: transparent;
    color: white;
    font-size: 1.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    color: blueviolet;
}

.btnShow{
    display: inline-block;
}

.btnHide{
    display: none;
}